@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color:  #234E70;
    font-weight: bold;
}

.container{
    background-color: #FBF8BE;
    color: black;
    text-align: center;
    width: 350px;
    padding: 10px;
    margin: 100px auto;
    height: 450px;
    border-radius: 20px;
    /* border: 1px solid white; */
    font-size: 30px;
    box-shadow: 1px 2px 3px whitesmoke;
}

.app-title{
    background-color: #cac798;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 50px;
}

.notification{
    color: brown;
    background: rgba(255, 0, 0, 0.312);
    margin-bottom: 20px;
}

.weather-container{
    background-color: #f2f1e1;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
}
@media (max-width:400px)
{
    .container{
        width: 80%;
    }
}
